name: Atualizar Promos Amazon

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  update-deals:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Instalar jq
      run: sudo apt-get update && sudo apt-get install -y jq

    - name: Obter Promoções da Amazon (Apify)
      run: |
        curl -X POST "https://api.apify.com/v2/actor-tasks/apify~amazon-bestsellers/run-sync?token=$APIFY_TOKEN" \
        -H "Content-Type: application/json" \
        -d '{"maxItems": 40, "country": "ES"}' \
        | jq '.items' > deals.json
      env:
        APIFY_TOKEN: ${{ secrets.APIFY_TOKEN }}

    - name: Commit & Push
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Atualização automática"
